extends layout

block content
	.container#container
		table.table.table-hover#table
			tr
				th No
				th Character
				th Pinyin
				th Pinyin Replaced
				th Translation
				th Audio
				th Factor
	script(src="allQuestions.js",type="text/javascript")