link(rel='stylesheet', href='/stylesheets/style.css')
link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
script(src='http://code.jquery.com/jquery-latest.js')
script(src='/bootstrap/js/bootstrap.min.js')
script(src='/spin.min.js')
script(src='/jquery.spin.js')
script(src='/Utils.js')