extends layout

block content
	style
		.field {
			font-weight: bold;
			text-align: center;
			width: 150px;
			padding: 1em 0;
			margin: 1em 0;
			color: #555;
			border: 2px dashed #555;
			border-radius: 7px;
			cursor: default;
		}
		.field:hover {
			border-style: solid;
		}
	.container#container
		.field#topic1
			| Topic 1
		.field#topic2
			| Topic 2
		.field#topic3
			| Topic 3
		.field#topic4
			| Topic 4

		