block navbar
	.container
		ul.nav.nav-pills
			li.active
				a(href='/') Home
			li
				a(href='/Questions') Questions
			li
				a(href='/AllQuestions') All Questions
			li
				a(href='/LearningMap') Learning Map
			li
				a(href='/NumberTrainer') Number Trainer
