extends layout

block content
	.container
		br
		.progress#progress
			.bar.bar-success(style="width: 33%;")#progressBar
		br
		.well.well-large#container
			.div#questionRows
				.row-fluid#description
					.span12
						h4 Description what you should to
				.row-fluid#questionRow
					.span6
						if questionType == 'speech'
							.div.block-level#question(align='center') 
								img(src='speaker-dark.png')#speakerButton
						else
							.div.block-level#question
								| Test
					.span6
						input(id="userInput", type="text", placeholder="Type something…").input-block-level
				.row-fluid(id="buttonRow")
					.span12(align="right")
						button(id="checkButton", type="submit").btn.btn-primary Check
		.row
			.span3#card
				.well.well-large
					.row(align="center")#card_character
						h3 我
						h5 wǒ
					.row(align="center")#card_translation
						h5 I, me

	script(src="questions.js",type="text/javascript")
