.btn-group
	a.btn.dropdown-toggle.btn-small(data-toggle='dropdown', href='#')
		| a
		span.caret
	ul.dropdown-menu
		li 
			a(href="#",onclick="insertAtCaret('ā');return false;").specialCaracter ā
		li 
			a(href="#",onclick="insertAtCaret('á');return false;").specialCaracter á
		li 
			a(href="#",onclick="insertAtCaret('ǎ');return false;").specialCaracter ǎ
		li 
			a(href="#",onclick="insertAtCaret('à');return false;").specialCaracter à
.btn-group
	a.btn.dropdown-toggle.btn-small(data-toggle='dropdown', href='#')
		| e
		span.caret
	ul.dropdown-menu
		li 
			a(href="#",onclick="insertAtCaret('ē');return false;").specialCaracter ē
		li 
			a(href="#",onclick="insertAtCaret('é');return false;").specialCaracter é 
		li 
			a(href="#",onclick="insertAtCaret('ě');return false;").specialCaracter ě
		li 
			a(href="#",onclick="insertAtCaret('è');return false;").specialCaracter è
.btn-group
	a.btn.dropdown-toggle.btn-small(data-toggle='dropdown', href='#')
		| i
		span.caret
	ul.dropdown-menu
		li 
			a(href="#",onclick="insertAtCaret('ī');return false;").specialCaracter ī
		li 
			a(href="#",onclick="insertAtCaret('í');return false;").specialCaracter í
		li 
			a(href="#",onclick="insertAtCaret('ǐ');return false;").specialCaracter ǐ
		li 
			a(href="#",onclick="insertAtCaret('ì');return false;").specialCaracter ì
.btn-group
	a.btn.dropdown-toggle.btn-small(data-toggle='dropdown', href='#')
		| o
		span.caret
	ul.dropdown-menu
		li 
			a(href="#",onclick="insertAtCaret('ō');return false;").specialCaracter ō
		li 
			a(href="#",onclick="insertAtCaret('ó');return false;").specialCaracter ó
		li 
			a(href="#",onclick="insertAtCaret('ǒ');return false;").specialCaracter ǒ
		li 
			a(href="#",onclick="insertAtCaret('ò');return false;").specialCaracter ò
.btn-group
	a.btn.dropdown-toggle.btn-small(data-toggle='dropdown', href='#')
		| u
		span.caret
	ul.dropdown-menu
		li 
			a(href="#",onclick="insertAtCaret('ū');return false;").specialCaracter ū
		li 
			a(href="#",onclick="insertAtCaret('ú');return false;").specialCaracter ú
		li 
			a(href="#",onclick="insertAtCaret('ǔ');return false;").specialCaracter ǔ
		li 
			a(href="#",onclick="insertAtCaret('ù');return false;").specialCaracter ù
.btn-group
	a.btn.dropdown-toggle.btn-small(data-toggle='dropdown', href='#')
		| ü
		span.caret
	ul.dropdown-menu
		li 
			a(href="#",onclick="insertAtCaret('ǖ');return false;").specialCaracter ǖ
		li 
			a(href="#",onclick="insertAtCaret('ǘ');return false;").specialCaracter ǘ
		li 
			a(href="#",onclick="insertAtCaret('ǚ');return false;").specialCaracter ǚ
		li 
			a(href="#",onclick="insertAtCaret('ǜ');return false;").specialCaracter ǜ