extends layout

block content
	.container
		br
		.well.well-large#container
			center
				h2 Choose Mode
				a(href='/NumberTrainer/N2P') Numbers to Pynin
				br
				a(href='/NumberTrainer/C2N') Characters to Numbers

